@import "variables";
@import "mixins";
@import "resets";
@import "layout";
@import "heading";
@import "forms";

html{
  font-size: 62.5%;
}

*{
  outline: none;
}

.black{
  color: black;
}

.light-grey{
  color: #9B9B9B;
}

.dark-grey{
  color: #4A4A4A;
}

.bg-dark-grey{
  background-color: #4A4A4A;
}

.button{
  border-radius: 6px;
  border: none;
  font-weight: bold;
  margin: 0 5px;
  color: white;
  padding: 0 15px;
}

.btn-sm{
  height: 35px;
  font-size: 1.6em;
}

.btn-md{
  width: 130px
}

.btn-lg{
  width: 200px;
}

.btn-xl{
  width: 230px;
}

.btn-md,.btn-lg, .btn-xl{
  font-size: 2rem;
  padding: 10px 20px 10px 20px;
  height: auto;
}

.bold{
  font-weight: bolder;
}
