.product-thumbnail-img{
  width: 225px;
  margin-bottom: 10px
}

.products-component-container{
  margin-top: 50px;
  max-width: 75%;
  .button{
    font-size: 1.6rem;
    margin: 30px 0 0 0;
  }
}

.product-container{
  @include flex-column-center;
  margin: 10px
}

.product-group-container{
  @include flex-row-wrap-center;
}

.product-name{
  margin-bottom: 5px;
}
.product-name{
  font-size: 1.5rem;
}
